* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

body>div:first-child {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
        'amarelo azul'; 
    grid-gap: 40px;

    border: 30px solid #000000;
    background-color: #000000;
    border-radius: 45%;

    width: 90vh;
    height: 90vh;
}

#verde {
    grid-area: verde;
    background-color: green;
    border-radius: 100% 10% 0 10%;
}

#vermelho {
    grid-area: vermelho;
    background-color: red;
    border-radius: 10% 100% 10% 0;
}

#azul {
    grid-area: azul;
    background-color: blue;
    border-radius: 0 10% 100% 10%;
}

#amarelo {
    grid-area: amarelo;
    background-color: yellow;
    border-radius: 10% 0 10% 100%;
}

#verde, #vermelho, #azul, #amarelo, #centro {
    cursor: pointer;
}

#centro {
    position: absolute;
    margin: 20vh 0 0 20vh;
    width: 40vh;
    height: 40vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    border: 4vh solid black;
    border-radius: 50%;
    background-color: #7f7f7f;

    color: white;
}

h1 {
    font-size: 45pt;
    margin-top: 25px;
}

h2 {
    font-size: 25pt;
}

.selecionado {
    opacity: 0.8;
}